.GreenLabel{
    font-family: 'Arial black';
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 7.5px;
    background: linear-gradient(to bottom, #1D4501 0%, #509E09 100%);
    font-size: 4vw;
    border-radius: 5px;
    min-width: 50vw;
    &_border{
        padding: 3px;
        background: linear-gradient(140deg, #EDD10A 0%, #AB2202 100%);
        border-radius: 8px;
    }
    @media (orientation: landscape) {
        font-size: 2vw;
        min-width: 30vw;
    }
}