.Table {
    display: flex;
    justify-content: center;
    align-items: center;
    &_decor {
        &_mount {
            top: 5vw;
            right: 45vw;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s ease;
            transform: translateY(0);
            opacity: 1;
    
            img {
                min-width: 40vw;
            }
    
            &_hide {
                transform: translateY(100px);
                opacity: 0;
            }
            @media (orientation: landscape) {
                top: 1vw;
                img{
                    min-width: 10vw;
                }
            }
        }
        &_coin1{
            bottom: 17vw;
            right: 72vw;
            img{
                min-width: 35vw !important;
            }
            @media (orientation: landscape) {
                bottom: 4vw;
                right: 51.7vw;
                img{
                    min-width: 8vw !important;
                }
            }
        }
        &_coin2{
            bottom: 17vw;
            right: 44.5vw;
            @media (orientation: landscape) {
                bottom: 4vw;
                right: 44.9vw;
                img{
                    min-width: 6.5vw !important;
                }
            }
        }
        &_coin3{
            bottom: 17vw;
            right: 17vw;
            @media (orientation: landscape) {
                bottom: 4vw;
                right: 38.2vw;
                img{
                    min-width: 6.5vw !important;
                }
            }
        }
        &_coin4{
            top: 5vw;
            right: 72vw;
            @media (orientation: landscape) {
                top: 1.2vw;
                right: 51.7vw;
                img{
                    min-width: 6.5vw !important;
                }
            }
        }
        &_coin5{
            top: 5vw;
            right: 17vw;
            @media (orientation: landscape) {
                top: 1.2vw;
                right: 38.2vw;
                img{
                    min-width: 6.5vw !important;
                }
            }
        }
        &_coin6{
            top: 5vw;
            right: 72vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease;
            img{
                min-width: 35vw ;
            }
            &_show{
                transform: translateY(0px);
                opacity: 1;
            }
            @media (orientation: landscape) {
                top: 1.2vw;
                right: 52vw;
                img{
                    min-width: 9vw !important;
                }
            }
        }
        &_coin7{
            top: 5vw;
            right: 45vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.8s ease;
            img{
                min-width: 35vw ;
            }
            &_show{
                transform: translateY(0px);
                opacity: 1;
            }
            @media (orientation: landscape) {
                top: 1.2vw;
                right: 45vw;
                img{
                    min-width: 9vw !important;
                }
            }
        }
        &_coin8{
            top: 5vw;
            right: 17vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.2s ease;
            img{
                min-width: 35vw ;
            }
            &_show{
                transform: translateY(0px);
                opacity: 1;
            }
            @media (orientation: landscape) {
                top: 1.2vw;
                right: 38vw;
                img{
                    min-width: 9vw !important;
                }
            }
        }
        &_coin9{
            bottom: 17vw;
            right: 44.5vw;
            @media (orientation: landscape) {
                bottom: 4vw;
                right: 45vw;
                img{
                    min-width: 6.5vw !important;
                }
            }
        }
    }
}


.coin{
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.5s ease;
    img{
        min-width: 27vw;
    }
    &_show{
        opacity: 1;
        transform: translateY(0px);
    }
    &_hide{
        opacity: 0;
        transform: translateY(100px);
    }
}

.jackpot_hide1{
    opacity: 1;
    transform: translateX(-35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
.jackpot_hide2{
    opacity: 1;
    transform: scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}
.jackpot_hide3{
    opacity: 1;
    transform: translateX(35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}