.Table {
    display: flex;
    justify-content: center;
    align-items: center;

    &_decor {
        position: relative;
        z-index: 99;

        &_table {
            top: 10dvh;

            img {
                width: 90vw;
                max-height: 45dvh;
                object-fit: contain;
            }

            // @media (orientation: landscape) {
            //     width: 90vw;

            //     img {
            //         max-height: 40dvh;
            //     }
            // }
        }

        &_mount {
            top: 11dvh;
            // right: 45vw;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s ease;
            transform: translateY(0);
            opacity: 1;

            img {
                min-width: 40vw;
            }

            &_hide {
                transform: translateY(100px);
                opacity: 0;
            }

            @media (orientation: landscape) {
                top: 1vw;

                img {
                    min-width: 10vw;
                }
            }
        }

        &_coin1 {
            left: -27.4vw;
            top: calc(10dvh - 20vw);
            z-index: 9;

            img {
                min-width: 35vw !important;
                max-height: 20dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 0dvh;
                left: -16dvh;

                // bottom: 4vw;
                // right: 51.7vw;
                // img{
                //     min-width: 8vw !important;
                // }
            }
        }

        &_coin2 {
            top: calc(10dvh - 20vw);

            img {
                min-width: 28vw !important;
                max-height: 15dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 0dvh;
            }
        }

        &_coin3 {
            top: calc(10dvh - 20vw);
            left: 27.4vw;

            img {
                min-width: 28vw !important;
                max-height: 15dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 0dvh;
                left: 16dvh;
            }
        }

        &_coin4 {
            top: 11dvh;
            left: -27.4vw;

            img {
                min-width: 28vw !important;
                max-height: 15dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 13dvh;
                left: -16dvh;
            }
        }

        &_coin5 {
            top: 11dvh;
            left: 27.4vw;

            img {
                min-width: 28vw !important;
                max-height: 15dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 13dvh;
                left: 16dvh;
            }
        }

        &_coin6 {
            top: 11dvh;
            left: -27.4vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: 20dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 13dvh;
                left: -16dvh;
            }
        }

        &_coin7 {
            top: 11dvh;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.8s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: 20dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 13dvh;
                // left: -16dvh;
            }
        }

        &_coin8 {
            top: 11dvh;
            left: 27.4vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.2s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: 20dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 13dvh;
                left: 16dvh;
            }
        }

        &_coin9 {
            top: calc(10dvh - 20vw);


            img {
                min-width: 28vw !important;
                max-height: 15dvh;
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: 1dvh;
                // left: 16dvh;
            }
        }
    }
}



.coin {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.5s ease;

    img {
        min-width: 27vw;
    }

    &_show {
        opacity: 1;
        transform: translateY(0px);
    }

    &_hide {
        opacity: 0;
        transform: translateY(100px);
    }
}

.jackpot_hide1 {
    opacity: 1;
    transform: translateX(-35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.jackpot_hide2 {
    opacity: 1;
    transform: scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.jackpot_hide3 {
    opacity: 1;
    transform: translateX(35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}