.Table {
    display: flex;
    justify-content: center;
    align-items: center;

    &_decor {
        position: relative;
        z-index: 99;

        &_table {
            top: calc(var(--vh) * 10);

            img {
                width: 90vw;
                max-height: calc(var(--vh) * 45);
                object-fit: contain;
            }

            // @media (orientation: landscape) {
            //     width: 90vw;

            //     img {
            //         max-height: calc(var(--vh) * 40);
            //     }
            // }
        }

        &_mount {
            top: calc(var(--vh) * 11);
            // right: 45vw;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1s ease;
            transform: translateY(0);
            opacity: 1;

            img {
                min-width: 40vw;
            }

            &_hide {
                transform: translateY(100px);
                opacity: 0;
            }

            @media (orientation: landscape) {
                top: 1vw;

                img {
                    min-width: 10vw;
                }
            }
        }

        &_coin1 {
            left: -27.4vw;
            top: calc(calc(var(--vh) * 10) - 20vw);
            z-index: 9;

            img {
                min-width: 35vw !important;
                max-height: calc(var(--vh) * 20);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 0);
                left: calc(var(--vh) * -16);

                // bottom: 4vw;
                // right: 51.7vw;
                // img{
                //     min-width: 8vw !important;
                // }
            }
        }

        &_coin2 {
            top: calc(calc(var(--vh) * 10) - 20vw);

            img {
                min-width: 28vw !important;
                max-height: calc(var(--vh) * 15);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 0);
            }
        }

        &_coin3 {
            top: calc(calc(var(--vh) * 10) - 20vw);
            left: 27.4vw;

            img {
                min-width: 28vw !important;
                max-height: calc(var(--vh) * 15);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 0);
                left: calc(var(--vh) * 16);
            }
        }

        &_coin4 {
            top: calc(var(--vh) * 11);
            left: -27.4vw;

            img {
                min-width: 28vw !important;
                max-height: calc(var(--vh) * 15);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 13);
                left: calc(var(--vh) * -16);
            }
        }

        &_coin5 {
            top: calc(var(--vh) * 11);
            left: 27.4vw;

            img {
                min-width: 28vw !important;
                max-height: calc(var(--vh) * 15);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 13);
                left: calc(var(--vh) * 16);
            }
        }

        &_coin6 {
            top: calc(var(--vh) * 11);
            left: -27.4vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.4s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: calc(var(--vh) * 20);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 13);
                left: calc(var(--vh) * -16);
            }
        }

        &_coin7 {
            top: calc(var(--vh) * 11);
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.4s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.8s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: calc(var(--vh) * 20);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 13);
                // left: -calc(var(--vh) * 16);
            }
        }

        &_coin8 {
            top: calc(var(--vh) * 11);
            left: 27.4vw;
            transform: translateY(-100px);
            opacity: 0;
            transition: transform 1.8s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.2s ease;

            &_show {
                transform: translateY(0px);
                opacity: 1;
            }

            img {
                min-width: 35vw !important;
                max-height: calc(var(--vh) * 20);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 13);
                left: calc(var(--vh) * 16);
            }
        }

        &_coin9 {
            top: calc(calc(var(--vh) * 10) - 20vw);


            img {
                min-width: 28vw !important;
                max-height: calc(var(--vh) * 15);
                object-fit: contain;
            }

            @media (orientation: landscape) {
                top: calc(var(--vh) * 1);
                // left: calc(var(--vh) * 16);
            }
        }
    }
}



.coin {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 1.5s ease;

    img {
        min-width: 27vw;
    }

    &_show {
        opacity: 1;
        transform: translateY(0px);
    }

    &_hide {
        opacity: 0;
        transform: translateY(100px);
    }
}

.jackpot_hide1 {
    opacity: 1;
    transform: translateX(-35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.jackpot_hide2 {
    opacity: 1;
    transform: scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}

.jackpot_hide3 {
    opacity: 1;
    transform: translateX(35px) scale(1.4);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55) !important;
}